/* not namespace */
/*
co1,co2,type,size,button-base,button-hover,preserve,perspective,name,animate,transf,transi,radius,shadow,left,top,
float,
*/

/* color */
$color1: #ff0000; // red
$color2: #ffbf00; // orange
$color3: #ffff00; // yellow
$color4: #7fff00; // green
$color5: #007fff; // lighten blue
$color6: #00ffff; // cyan
$color7: #0000ff; // blue
$color8: #7f00ff; // magenta
$color9: #ff00ff; // magenta red
$color10: #000; // blank
$color11: #fff; // white


/* media quries */
$sm: 768px;
$md: 960px;
$lg: 1200px;



/* navigation height */
$nav_height: 120 / 2;

/* _function */
$rem_value: 37.5;






